# pandas
- pandas is the most popular library that is used for data analysis.
- It provides highly optimised performaance with backend code is purely written in c or python..

In [8]:
import pandas as pd
data=[1,2,3,4]
s=pd.Series(data)
print(s)
Index=['a','b','c','d']
s1=pd.Series(data,Index)
print(s1)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [5]:
dictionary={'a':1,'b':2}
s=pd.Series(dictionary)
print(s)

a    1
b    2
dtype: int64

In [10]:
data=[[1,2,3],[4,5,6]]
s=pd.Series(data)
print(s)

0    [1, 2, 3]
1    [4, 5, 6]
dtype: object

In [ ]:
#program to create Dataframe
import pandas as pd
a=pd.DataFrames(Data)#create DataFrame with data


Here data can be:
    one or more dictionaries
    one or more series
    2D-numpy Ndarray

In [12]:
#when data is Dictionaries
#program to create Data Frame with two dictionaries
dict1={'a':1,'b':2,'c':3}  
dict2={'a':4,'b':5,'c':6}
data={"first":dict1,"second":dict2}
a=pd.DataFrame(data)
print(a)

   first  second
a      1       4
b      2       5
c      3       6

In [30]:
#when data in series
#program to create Data Frame with 3 series
s1=pd.Series([1,2,3,4,5,6])
s2=pd.Series([1.1,1.2,1.3,1.4])
s3=pd.Series(['a','b','c','d'])
a={"first":s1,"second":s2,"third":s3}
dfseries=pd.DataFrame(a)
print(dfseries)
dfseries.iloc[0:3,0:3]

   first  second third
0      1     1.1     a
1      2     1.2     b
2      3     1.3     c
3      4     1.4     d
4      5     NaN   NaN
5      6     NaN   NaN

   first  second third
0      1     1.1     a
1      2     1.2     b
2      3     1.3     c

In [15]:
d1=[[1,2,3],[4,5,7]]
d2=[[23,4,4],[3,4,5]]
data={'first':d1,'second':d2}
df2d=pd.DataFrame(data)
df2d

       first      second
0  [1, 2, 3]  [23, 4, 4]
1  [4, 5, 7]   [3, 4, 5]

In [23]:
d1=['samyu','priya','chitti','bingo']
d2=[591,566,568,577]
data={'name':d1,'rollno':d2}
a=pd.DataFrame(data)
print(a)

     name  rollno
0   samyu     591
1   priya     566
2  chitti     568
3   bingo     577

In [31]:
d1=['samyu','priya','chitti','bingo']
d2=[591,566,568,577]
data={'name':d1,'rollno':d2}
a=pd.DataFrame(data)
print(a)

     name  rollno
0   samyu     591
1   priya     566
2  chitti     568
3   bingo     577

In [34]:
df1=pd.DataFrame({"HPI":[80,90,70,60],"INT_RATE":[2,1,2,3],"IND_GDP":[50,60,70,80]},index=[2001,2002,2003,2004])
print(df1)

      HPI  INT_RATE  IND_GDP
2001   80         2       50
2002   90         1       60
2003   70         2       70
2004   60         3       80

In [35]:
df1=pd.DataFrame({"HPI":[80,90,70,60],"INT_RATE":[2,1,2,3],"IND_GDP":[50,60,70,80]},index=[2001,2002,2003,2004])
df2=pd.DataFrame({"SBI":[1,2,3,4],"INFOSYS":[1,3,4,5],"TCS":[90,40,50,30]},index=[2001,2002,2003,2004])
joined=df1.join(df2)
print(joined)

      HPI  INT_RATE  IND_GDP  SBI  INFOSYS  TCS
2001   80         2       50    1        1   90
2002   90         1       60    2        3   40
2003   70         2       70    3        4   50
2004   60         3       80    4        5   30

In [42]:
df1=pd.DataFrame({"HPI":[80,90,70,60],"INT_RATE":[2,1,2,3],"IND_GDP":[50,60,70,80]},index=[2001,2002,2003,2004])
df2=pd.DataFrame({"HPI":[80,90,70,60],"INT_RATE":[2,1,2,3],"IND_GDP":[50,60,70,80]},index=[2006,2007,2008,2009])
merged=pd.merge(df1,df2)
print(merged)

   HPI  INT_RATE  IND_GDP
0   80         2       50
1   90         1       60
2   70         2       70
3   60         3       80

In [45]:
import pandas as pd
df=pd.DataFrame({"Day":[1,2,3,4],"visitors":[200,300,400,100],"Bounce_Rate":[20,30,60,70]})
df.set_index("Day",inplace=True)
print(df)

     visitors  Bounce_Rate
Day
1         200           20
2         300           30
3         400           60
4         100           70